<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   https://www.springframework.org/beans/spring-beans-4.0.xsd">
   
   <import resource="./batch.xml"/>

	<bean id="helloWorld" class="com.omt.springcore.main.HelloWorld">
	
		<property name="message" value="Omt Spring Core Example !!" />
	
	</bean>

</beans>